@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

$font1: 'Roboto', sans-serif;
$font2: 'Roboto Slab', serif;
$font3: 'Poppins', sans-serif;

// colors
$gray: #57647C;
$orange: #FF6803;
$white:#FFFFFF;
$pink: #F23779;
$gradient: linear-gradient(90deg, rgba(242,55,112,1) 0%, rgba(255,104,3,1) 79%, rgba(255,166,46,1) 100%);
$gradient-1: linear-gradient(90deg, rgba(36,191,182,1) 0%, rgba(51,210,165,1) 51%, rgba(65,229,149,1) 100%);