#online {
    padding-top: 80px;
    text-align: center;
}
.text-1 {
    text-align: center;
    align-content: center;
    margin: 0;

    @media (min-width: 992px){margin: 0 300px;}


    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 2rem;
        text-align: center;
    }
    p{
        margin: 0 ;
        font-family: $font1;
        color: $gray;

        @media (min-width: 992px){margin: 0 90px;}
    }
    
}
.text-2 {
    background-image: none;
    background-position: center;
    position: relative;
    top: 0;

    @media (min-width: 992px){ background-image: url(/images/Map.svg);}

    .group-1{

        .group {

            .number {
                font-family: $font3 ;
                font-size: 42px;
                color: $pink;
                margin: 0 80px;
                padding-top: 40px;

                @media (min-width: 992px){ padding-top: 80px;}
            }
            .t1 {
                font-family: $font1;
                color: $gray;
                font-size: 18px;  
            }
        }
        
        @media (min-width: 992px){ display: flex;}
    }

    
}

.sub-container {
    margin: 0;
    align-items: center;
    text-align: center;
    padding: 2rem 2.2rem;
    justify-content: space-between;
    
    
    @media (min-width: 992px){   margin: 20px 220px;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.16); display: flex; }

    h2 {
        font-family: $font3;
        font-size: 21px;
    }
    p {
        font-family: $font1;
        font-size: 18px;
        color: $gray;
    }
    .btn2 {
        font-family: $font1;
        text-transform: uppercase;
        background: $gradient;
        border: transparent;
        color: $white;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
    }

}

